all:
    hosts:
        localhost:
            ansible_connection: local
            ansible_python_interpreter: /usr/bin/python3
            ansible_ssh_common_args: '-o ProxyCommand="ssh -W %h:%p -q -i /home/ansible/.ssh/id_rsa -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o LogLevel=ERROR ansible@bastion"'

azure:
    hosts:
    {% for instance_id in instance_ids %}
    VM{{ loop.index-1 }}:
            ansible_host: localhost
            ansible_port: 1002{{ loop.index }}
            ansible_user: adminusername
            ansible_password: {{ VM_PWD }}
            ansible_ssh_common_args: '-o ProxyCommand="ansible/azure-bastion-connect{{ loop.index-1 }}.sh %h %p" -o StrictHostKeyChecking=no -o ServerAliveInterval=50'
    {% endfor %}
